DJANGO_SECRET_KEY=ui40u01!1#-d@65pegai6e!%@w#g964%2(s)u3c@wq=cwfkcbc
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=mobile_theme_db
DB_USER=mobile_theme_user
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432

MOBILE_THEME_API_KEY=hwDwagOy1hfFc_aunMZ3V7xAJOKz3X4KpaG7ExkYEC0